<div class="partials navbar">
  <h1 class="title">Navbar</h1>

  <div class="links">
    logged in as: <strong><%= current_user.email %></strong>.
    <%= link_to "profile edit", edit_user_registration_path %> |
    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  </div>
</div>

<!--
  if you don't want that your users don't login, use the down code like example:

    <% if user_signed_in? %>
      logged in as: <strong><%= current_user.email %></strong>.
      <%= link_to "profile edit", edit_user_registration_path %> |
      <%= link_to "sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "sign up", new_user_registration_path %> |
      <%= link_to "sign in", new_user_session_path %>
    <% end %>
-->
